<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hhh - de个人信息</title>
</head>

<body>
    <h1>姓名
        hhh
    </h1>
    <div>个人简介：
       #info#
    </div>
    
    <h2>个人技能：</h2>
    <ol>
        <%
         for(let t of tec){ 
        %>
            <li>
                <%=t.c+t.l%>
            </li>
            <%  } %>
    </ol>
</body>

</html>